/* * {
	box-sizing: border-box;
}

body {
	display: flex;
}

.dropdown {
	margin: 16px;
	position: relative;
}

.menu-button {
	padding: 16px;
	background-color: darkgreen;
	font-size: 16px;
	color: white;
	opacity: 0.8;
	cursor: pointer;
}

.menu-list {
	position: absolute;
	min-width: 120px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: lightcyan;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	display: none;
}

.menu-item {
	color: black;
	padding: 16px;
}

.menu-button:hover {
	opacity: 1;
}

.dropdown:hover .menu-list {
	background-color: ghostwhite;
	display: block;
}

*/

* {
	box-sizing: border-box;
}

body {
	display: flex;
}

.dropdown {
	margin: 16px;
	position: relative;
	display: inline-block;
	padding: 16px;
	font-size: 16px;
	color: white;
	background-color: darkgreen;
	opacity: 0.8;
	cursor: pointer;
}

.menu-button {}

.menu-list {
	position: absolute;
	left: 0;
	top: 100%;
	margin: 0;
	padding: 0;
	min-width: 120px;
	list-style-type: none;
	z-index: 1;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	display: none;
}

.menu-item {
	padding: 16px;
	color: black;
	background-color: lightcyan;
	cursor: pointer;
}

.menu-button:hover {
	opacity: 1;
}

.menu-item:hover {
	background-color: ghostwhite;
}

.dropdown:hover>.menu-list {
	display: block;
}