* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.image-container {
	margin: 50px 0;
	position: relative;
	overflow-x: hidden;
}

.tree {
	display: block;
	margin: 0 auto;
	position: relative;
	max-width: 100%;
	width: auto;
	border-radius: 20px;
}


.gallery {
	display: flex;
	/* flex-wrap: wrap;
	flex-shrink: 0; */
}

figure {
	margin: 16px;
	box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}

figcaption {
	line-height: 30px;
	text-transform: lowercase;
	text-align: center;
}

.opacity {
	filter: opacity(50%);
}

.blur {
	filter: blur(4px);
}

.invert {
	filter: invert(100%);
}