/* 1----------------------------------------- */
body {
	background-color: #bdc3c7;
}

/* 2----------------------------------------- */
h1 {
	color: #9b59b6;
}

/* 3----------------------------------------- */
h2 {
	color: orange;
}

/* 4----------------------------------------- */
li {
	color: blue;
}

/* 5----------------------------------------- */
p {
	background-color: yellow;
}

/* 6----------------------------------------- */
input {
	border: 3px solid red;
}

/* 7----------------------------------------- */
.hello {
	background-color: white;
}

/* 8----------------------------------------- */
#special {
	border: 2px solid blue;
}

/* 9----------------------------------------- */
div p {
	font-size: 25px;
}

/* 10----------------------------------------- */
input[type="text"] {
	background-color: grey;
}

/* 11----------------------------------------- */
div:nth-of-type(3) p {
	background-color: yellow;
}

/* 12----------------------------------------- */
div:nth-of-type(3)>p:nth-of-type(2) {
	border: 5px solid white;
}

/* 13----------------------------------------- */
div:nth-of-type(3) em {
	color: white;
	font-size: 20px;
}