* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.image-container {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
	overflow-x: hidden;
}

.image-container img {
	display: block;
	margin: 0 auto;
	width: auto;
	border-radius: 20px;
}