* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}

.audience {
  max-width: 320px;
  width: 100%;
  margin: 1px auto;
  padding: 50px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 161, 198, 0.07);
}
@media screen and (min-width: 1400px) {
  .audience {
    max-width: 1400px;
  }
}

.audience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .audience-content {
    max-width: 555px;
    padding-top: 108px;
  }
}
.audience-content__title {
  font-size: 22px;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .audience-content__title {
    margin-bottom: 24px;
  }
}
.audience-content__subtitle {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .audience-content__subtitle {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
}
.audience-content__text {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .audience-content__text {
    line-height: 34px;
    margin-bottom: 34px;
  }
}

.audience__btn {
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__btn {
    display: flex;
    margin-bottom: 111px;
  }
}
.audience__btn-link {
  display: block;
  width: 290px;
  height: 48px;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 48px;
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040C4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .audience__btn-link {
    width: 160px;
  }
}
.audience__btn-link:first-child {
  margin-bottom: 12px;
}
@media screen and (min-width: 1400px) {
  .audience__btn-link:first-child {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.audience__btn .btn-white {
  color: #000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
}

.audience-cards {
  margin-bottom: 50px;
}
@media screen and (min-width: 1400px) {
  .audience-cards {
    display: flex;
    margin-bottom: 110px;
  }
}
.audience-cards__item {
  width: 290px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: all 0.3s;
}
.audience-cards__item + .audience-cards__item {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .audience-cards__item + .audience-cards__item {
    margin-top: 0;
    margin-left: 10px;
  }
}
.audience-cards__img {
  display: block;
  margin-top: 22px;
}
.audience-cards__item-title {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.audience-cards__item:hover {
  cursor: pointer;
  background: #3141C5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
